
/*corregir las imagenes y los textos. tambien los tamaños*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap')
:root {
    --background: #fbd1a2ff;
    --font: #4b5842ff;
    --secondary: #28112bff;
    --lines: #e55812ff;
    --text: #996888ff;
}

* {
    margin:2px;
    padding: 0;
    box-sizing: border-box;
}

 
header {
    padding: 20px;
    background-color: #fbd1a2ff;
}
nav a:link, nav a:visited {
    color: #996888ff;
    display: block;
    padding: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
}

nav {
    background-color: #fbd1a2ff;
    padding: 10px;
}

article img{
    
    width: 80px;
    height: auto;
    border:1px solid #e55812ff;
    padding: 2px;
    box-shadow: 0 0 30px #996888ff;
    position:relative;
    float:right;
}

h1, h2{
    color:#28112bff;
    text-align: center;
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
}
      
p { padding: 0;}

setion{
    width: 20rem;
    text-align: center;
}

header img{

    width: 90px;
    height: auto;
    border:1px solid #e55812ff;
    padding: 2px;
    box-shadow: 0 0 30px #996888ff;
}

section img{
    width: 150px;
    height: auto;
    border:1px solid #e55812ff;
    padding: 1px;
    box-shadow: 0 0 30px #996888ff;

}
.happy img {
    position: absolute;
    top: 140px;
    width: 80px;
    height: auto;
    border:none;

}
.image {
    display: block;
    margin-bottom:20px;
}
article p{
    position:absolute;
    top: 300px;
    left: 25rem;
    background-color: blue;
}

footer{
    
    margin-top: 150px;
    border-top: 1px solid #e55812ff;
    text-align: center
    
}
footer img {
    width: 20px;
    height: auto;
    align-items: center;
    margin-left: 15px;
}

footer nav a {
    text-decoration: none;
    align-items: center;
}

.hero h1 {

    color:rgb(26, 23, 25);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position:absolute;
    top: 180px;
    left: 30rem;
}

.hero img {

    display:block;
    width: 100%;
    height: auto;
    float: center;
    margin-right: 20px;
}
article img{
    width: 30px;
    height: auto;
    position: absolute;
    top:300px;
    left:40px;

}